<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" th:href="@{/css/index-style.css}" />
    <script th:src="@{/js/main.js}"></script>
    <title>hello</title>
</head>
<body>
    <h3 th:text="${currentPath}">undefined path</h3>
    <div>
        <span>url: </span>
        <br/>
        <label for="url"></label><input id="url" placeholder="url" />
        <br/>
        <span>method: </span>
        <br/>
        <label for="method"></label><input id="method" placeholder="method" />
        <br/>
        <span>filename: </span>
        <br/>
        <label for="filename"></label><input id="filename" placeholder="filename" />
        <br/>
        <span>content: </span>
        <br/>
        <label for="content"></label><textarea id="content" placeholder="content"></textarea>
        <br/>
        <button onclick="save()">save</button>
    </div>

    <h2>Resource Table</h2>
    <table>
        <tr>
            <th>URL</th>
            <th>Method</th>
            <th>File Name</th>
            <th>content</th>
        </tr>
        <tr th:each="resource : ${resourcesUrl}">
            <td th:text="${resource.url}"></td>
            <td th:text="${resource.method}"></td>
            <td th:text="${resource.fileName}"></td>
            <td th:text="${resource.content}"></td>
        </tr>
    </table>
</body>
</html>